.Question {
  @apply relative mt-[15px] rounded-[10px] bg-white;

  box-shadow: 0px 0px 10px 0px #201e1e;
}

.Setting {
  @apply px-[30px] pb-[25px] pt-[21px] block;
}

.Demo {
  @apply px-[63px] pb-[44px] pt-[31px] block;
}

.DemoId {
  @apply absolute left-[29px] top-[31px] flex h-[23px] w-[23px] items-center justify-center bg-[#6044AE9C] text-[15px] text-white;
}

.DemoTitle {
  font-size: 15px;
}

.DemoOptions {
  @apply mt-[34px] flex-col gap-[14px] flex;
}

.DemoOption {
  @apply flex items-center gap-[31px] text-[10px] text-black;
}

.EditDemoButton {
  @apply top-[19px] right-[63px] absolute;

  svg {
    height: 18px;
    width: 18px;
  }
}

.DeleteDemoButton {
  @apply right-[29px] top-[22px] absolute;

  svg {
    height: 12px;
    width: 12px;
  }
}

.SettingTop {
  @apply items-center justify-between gap-[20px] flex;
}

.TitleInput {
  @apply h-[40px] w-[465px] rounded-[7px] border border-solid border-[#BDB5B5] bg-white px-[30px] py-[11px] text-black outline-none;

  &:placeholder {
    color: #bdb5b5;
  }
}

.TypesSelect {
  @apply h-[35px] w-[200px] cursor-pointer rounded-[7px] border border-solid border-[#BDB5B5] text-center text-[#BDB5B5] appearance-none;
}

.SettingBottom {
  @apply mt-[22px] items-center justify-between border-t border-solid border-t-[#BDB5B5] pt-[10px] flex;
}

.SettingParameter {
  @apply items-center gap-[5px] text-[10px] text-[#D9D9D9] flex;
}

.SettingParameterInput[type='number'] {
  @apply h-[21px] w-[77px] rounded-[7px] border border-solid border-[#D9D9D9] px-[10px] text-center text-black outline-none;
}

.SettingButtons {
  @apply mr-[92px] items-center gap-[18px] flex;
}

.SettingButton {
  @apply flex h-[20px] w-[70px] items-center justify-center rounded-[10px] border border-solid text-[7px] font-medium;

  box-shadow: 0px 0px 2px 0px #00000040;
}

.SettingMain {
  @apply mt-[23px] flex-col gap-[11px] flex;
}

.Option {
  @apply items-center gap-[14px] flex;
}

.OptionRadioInput {
  width: 20px;
  height: 20px;
}

.OptionTextInput {
  @apply h-[24px] w-full rounded-[7px] border border-solid border-[#BDB5B5] px-[21px] text-[10px] text-black outline-none;

  &:placeholder {
    color: #bdb5b5;
  }
}

.AddOptionButton {
  @apply flex w-fit items-center gap-[5px] rounded-[10px] border-solid border-[#6044AE] px-[6px] py-[4px] text-[7px] text-[#6044AE] border;

  box-shadow: 0px 0px 2px 0px #00000040;

  svg {
    width: 10px;
    height: 10px;
  }
}

.SaveButton {
  color: #48ab0c;
  border-color: #48ab0c;
}

.DeleteButton {
  color: #ba1818;
  border-color: #ba1818;
}
